@model LoginViewModel
@using static ASI.Basecode.Resources.Views.Screen
@section styles {
    <link rel="stylesheet" href="~/css/login.css" />
}
@{
    ViewBag.LoginView = true;
    ViewData["Title"] = "Bibliobibuli - Admin Login";
}
<div>
    @Html.AntiForgeryToken()
</div>
<div class="body-main">
        <div class="body-two-section">
                <div class="login-row">
                    <div class="first-col">
                <img class="bibliobibuli-logo" src="~/img/Group 42.png" />
                    </div>
                    <div class="second-col">
                        <div class="login-card">
                            <div class="text-center">
                            </div>
                            <form method="post" action="/Account/Login" id="loginForm">
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form2Example11">@UserId</label>
                                    <input type="text" id="form2Example11" class="form-control"
                                           asp-for="UserId" placeholder="Enter userid" />
                                    <span asp-validation-for="UserId" class="text-danger"></span>
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form2Example11">@Email</label>
                                    <input type="text" id="form2Example11" class="form-control"
                                           asp-for="Email" placeholder="Enter Email" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form2Example22">@Password</label>
                                    <input type="password" id="form2Example22" class="form-control"
                                           asp-for="Password" placeholder="Enter password" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="text-center pt-1 mb-5 pb-1 d-flex flex-column align-items-center">
                                    <button class="login-btn" type="submit">
                                        @Login
                                    </button>
                                    <div>
                                        <a class="text-muted" href="#!">@ForgotPass</a>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-center pb-4">
                                    <p class="mb-0 me-2 mr-1">@DontHaveAcc</p>
                                    <a asp-controller="Account" asp-action="Register" class="btn btn-outline-danger">@CreateNew</a>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
</div>

@section scripts {
    <script>
        // Check for error message and display Toastr notification
        var errorMessage = '@TempData["ErrorMessage"]';
        if (errorMessage) {
            toastr.error(errorMessage);
        }
    </script>
}