@using ASI.Basecode.Data.Models;
﻿
@model HomeViewModel
@using static ASI.Basecode.Resources.Views.Screen
@section styles {
    <link rel="stylesheet" href="~/css/homepage.css" />
}
@{
    ViewBag.LoginView = true;
    ViewData["Title"] = "BiblioBibuli - Where Pages come Alive.";
}
<div class="navbar">
    <img class="bibliobibuli-logo" src="~/img/bibliobibuli logo 2.png" />
    <div class="navbar-right">
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a asp-controller="Home" asp-action="Library">Library</a></li>
        </ul>
    </div>
</div>

<div class="content">
    <div class="button-container-arrow-up">
        <button class="button-arrow-up">˄</button>
    </div>
    <div class="hero-section">
        <div class="hero-left">
            <div class="hero-left-content">
    <div class="logo-title">
        <img class="logo" src="~/img/bibliobibuli logo 3.png" />
        <h1>Bibliobibuli.</h1>
    </div>
        <div class="square-container">
            <h2>Where Pages<br /> Come Alive.</h2>
            <p class="hero-subtitle">Authors and Readers Toast to the Art of Literary Feasts!</p>
        </div>
        </div>
        </div>
        <div class="hero-right">
    <div class="line-container">
        <div class="image-container">
            <img class="image-book-reading" src="~/img/book reading.png" />
        </div>
    </div>
        </div>

    </div>
    <div class="search">
        <div class="center-container">
            <div class="search-line-container d-flex flex-column container">
                <form method="get" asp-action="Search" class="search-elements justify-content-center">
                    <select class="year-dropdown" name="Year" id="Year">
                        <option value="">Year</option>
                        @{
                            foreach (var year in Model.Years)
                            {
                                <option value="@year">@year</option>
                            }
                        }
                    </select>
                    <select class="category-dropdown" name="Genre" id="Genre">
                        <option value="">Category</option>
                        @{
                            foreach (var genre in Model.Genres)
                            {
                                <option value="@genre.genreName">@genre.genreName</option>
                            }
                        }
                    </select>
                    <div class="search-bar">
                        <input type="text" name="SearchText" id="SearchText" placeholder="Enter Book Name here..." class="form-control">
                        <div class="search-icon"><i class="fas fa-search"></i></div>
                        <button class="search-button" type="submit" style="background-color: #053B50; color: #FFFFFF;">Search ˃</button>
                    </div>
                </form>
                <div class="d-flex flex-column w-100 list-group">
                    @{
                        IEnumerable<Book> SearchResults = Model.SearchResults;
                        if (SearchResults != null && SearchResults.Count() > 0)
                        {
                            foreach (var bookSearchResult in SearchResults)
                            {
                                <a asp-controller="Book" asp-action="BookDetail" asp-route-bookId="@bookSearchResult.bookId"
                                   class="list-group-item list-group-item-action d-flex flex-row container pt-3 mt-2 rounded-lg w-100 justify-content-center" style="height: 85px">
                                    <img src="@bookSearchResult.image" class="rounded p-0 mh-100" />
                                    <h5 class="flex-grow-1 h5 text-center m-auto px-3">@bookSearchResult.title.ToUpper()</h5>
                                </a>
                            }
                        }
                    }
                </div>
            </div>
        </div>
 
    <div class="white-background">
        <div class="text-container">
            <div class="about-title">
            <h1 class="team-name">Bibliobibuli</h1>
                    <a href="https://en.wiktionary.org/wiki/bibliobibuli" class="link">https://en.wiktionary.org</a>
                </div>
            <div class="text-info">
                <p class="definition">
                    <text class="text-noun">Noun</text><text class="text-meaning">[bib·lio·bibu·li]</text><text class="plurals-text">(plural only)</text>
                <p>1. The sort of <u>people</u> who <u>read</u> too much.</p>        
                <p>"There are people who read too much: bibliobibuli. I know some who are constantly drunk on books, as other men are drunk on whiskey or religion. They wander through this most diverting and stimulating of worlds in a haze, seeing nothing and hearing nothing."</p>
            </div>
        </div>
    </div>
    </div>

    <!-- Recent Books or New Release-->
    <div class="second-background">
        <div class="content-container">
            <div class="top-section">
                <h2 class="trends-text">New releases</h2>
                <div class="button-container-view-more">
                    <button class="button-view-more">
                        <a asp-controller="Home" asp-action="Library">VIEW MORE</a>
                    </button>
                </div>
            </div>
            <div class="bottom-section">
                <p class="text-trends">Dive into our selection of trending books this week, where every page tells a story worth sharing.</p>
            </div>
        </div>
        <section class="books-line">
            @{
                List<Book> NewBooks = Model.NewlyReleasedBooks;
                foreach (var book in NewBooks)
                {
                    <div class="book-item">
                        <a asp-controller="Home" asp-action="BookDetail" asp-route-bookId="@book.bookId"><img src="@book.image" alt="@book.title"></a>
                    </div>
                }
            }
        </section>
    </div>



    <!-- Top Rated Books-->
    <div class="fourth-white-background">
        <div class="books-header">
            <div class="top-books-title">
        <h4 class="top-rated-books-text">Top-rated Books</h4>
        <text class="top-rated-books-line">From captivating tales to thought-provoking narratives, these stories are igniting conversations across Bibliobibuli.</text>
        </div>
        <div class="second-button-container-view-more">
            <button class="second-button-view-more">
                    <a asp-controller="Home" asp-action="Library">VIEW MORE</a>
            </button>
        </div>
        </div>
        <section class="books-line">
            @{
                List<Book> TopRatedBooks = Model.TopRatedBooks;
                foreach(var book in TopRatedBooks)
                {
                    <div class="book-item">
                        <a asp-controller="Home" asp-action="BookDetail" asp-route-bookId="@book.bookId"><img src="@book.image" alt="@book.title"></a>
                    </div>
                }
            }
        </section>
    </div>
    <div class="contact-image-background-container">
        <img class="contact-info-image" src="~/img/contact section.png" alt="Contact Info Image" />
    </div>
    <div class="fifth-white-background">
        <div class="footer-first-col">
            <div class="logo-title">
                <img class="logo" src="~/img/bibliobibuli logo 3.png" />
                <h1>Bibliobibuli.</h1>
            </div>
            <div class="text-line">
                <p>Where Authors and Readers </p>
                <p>Toast to the Art of Literary </p>
                <p>Feasts!</p>

                <div class="contact-info">
                    <p><i class="fas fa-envelope"></i> bibliobibuli_inquire@gmail.com</p>
                    <p><i class="fas fa-phone"></i> +63 912 3456 789</p>
                </div>
            </div>
        </div>
        <div class="quick-links">
            <p class="text-quick-links">Quick Links</p>
            <div class="second-nav-links">
                <a href="/">Home</a>
                <a href="/Home/Library">Library</a>
            </div>
        </div>
    </div>
</div>